/* ESTILO GENERAL */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f8f5f0; /* blanco hueso */
    color: #000000; /* letras negras */
}

/* HEADER */
header {
    background-color: #e8dfd6; /* beige */
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo h1 {
    margin: 0;
    letter-spacing: 4px;
    font-weight: 600;
}

.eslogan {
    font-size: 14px;
    color: #5a5a5a;
}

/* MENÚ */
nav a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
    font-weight: 500;
}

nav a:hover {
    border-bottom: 1px solid black;
}

/* HERO */
.hero {
    background-color: #f1ece6;
    padding: 100px 20px;
    text-align: center;
}

.hero h2 {
    font-size: 36px;
    font-weight: 500;
}

/* BOTONES */
.boton {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 25px;
    background-color: #e8dfd6; /* beige */
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.boton:hover {
    background-color: #d8cfc5;
}

/* SECCIONES */
.seccion {
    padding: 80px 60px;
    text-align: center;
}

/* PRODUCTOS */
.contenedor-productos {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.producto {
    background-color: white;
    width: 250px;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #e0d8cf;
    transition: transform 0.3s ease;
}

.producto:hover {
    transform: translateY(-6px);
}

.producto .img {
    height: 150px;
    background-color: #e8dfd6;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* GALERÍA */
.galeria-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}

.galeria-grid div {
    background-color: #e8dfd6;
    height: 150px;
    border-radius: 10px;
}

/* CONTACTO */
.fondo-amarillo {
    background-color: #f1ece6;
}

/* FOOTER */
footer {
    background-color: #e8dfd6;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}
.producto img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
}
.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.galeria img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
}
#galeria {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;
}

#galeria h2 {
    text-align: center;
} 